<a href="https://colab.research.google.com/github/yaleni/Python_2025/blob/main/Listas_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#LISTAS EN PYTHON
frutas =["manzana","banana","cereza"]
print(frutas)

['manzana', 'banana', 'cereza']

In [ ]:
type(frutas)

list

In [ ]:
numeros =[1,2,3,4,5,6,7,8,9,10]
type(numeros)
#print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
mylista = ["a",1,1.1,True,[1,2,3], ["Andrea", "Sandro", "Alex"]]
type(mylista)
print(mylista)

['a', 1, 1.1, True, [1, 2, 3], ['Andrea', 'Sandro', 'Alex']]

In [ ]:
mylista[5][1]

'Sandro'

In [ ]:
#REASIGNANDO UN VALOR
frutas[0] = "sandía"
print(frutas)

['sandía', 'banana', 'cereza']

In [ ]:
#AGREGANDO UN ELEMNTO A LA LISTA
frutas.append("uva")
print(frutas)

['sandía', 'banana', 'cereza', 'uva']

In [ ]:
#UTILIZANDO EL MEODO SORT PARA ORDENAR
frutas.sort()
print(frutas)

['banana', 'cereza', 'sandía', 'uva']

In [ ]:
#SORT(REVERSE)
frutas.sort(reverse=True)
print(frutas)

['uva', 'sandía', 'cereza', 'banana']

In [ ]:
#REMOVER DATOS DE LA LISTA
frutas.remove("cereza")
print(frutas)

#dir(frutas)

['uva', 'sandía', 'banana']

In [ ]:
#Concatenar listas
lista1 = [1,2,3]
lista2 = [4,5,6]
lista3 = lista1 + lista2
print(lista3)

[1, 2, 3, 4, 5, 6]

In [ ]:
repetida = lista1 * 3
print(repetida)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#SEGMENTACION DE LISTAS
sublista = lista3[2:5]
print(sublista)

[3, 4, 5]

In [ ]:
#Ejercicio
ciudades = ["New York", "Paris", "Tokyo", "London", "Sydney"]
print(ciudades[0])
print(ciudades[4])

New York
Sydney

In [ ]:
numeros = [1, 2, 3, 4, 5]
numeros.append(6)
print(numeros)
numeros.remove(1)
print(numeros)
numeros.insert(0, 7)
print(numeros)
numeros.sort()
print(numeros)

[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[7, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6, 7]

In [ ]:
numeros = [1, 2, 3, 4, 5]
print(numeros)

numeros.append(6)
print(numeros)

numeros.pop(0)
print(numeros)

numeros.insert(1, 7)
print(numeros)

numeros.sort()
print(numeros)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[2, 7, 3, 4, 5, 6]
[2, 3, 4, 5, 6, 7]

In [ ]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
combinada = lista1 + lista2
print(combinada)
repetida = lista1 * 3
print(repetida)
sublista = combinada[1:4]
print(sublista)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[2, 3, 4]

In [ ]:
#TUPLAS COLECCION DE ELEMENOTOS ORDENADOS, PERO NO PUEDEN CAMBIAR SUS ELEMENTOS Y SU TAMAÑO(INMUTABLES)

T= 1,2,3
type(T)

tuple

In [1]:
#TRABAJANDO CON TUPLAS
t = 0, 1,2

In [2]:
type(t)

tuple

In [4]:
#Tupla escrita de otra forma, pero significa lo mismo
ss = (0,1,2)
type(ss)

tuple

In [5]:
mi_tupla = (1,2,3,2,2,3,4,5)  #las tuplas no pueden ser modificado, no se pueden reasignar valores. se pueden contar e indexar
elemento = mi_tupla[3]
print(elemento)
print(mi_tupla)

2
(1, 2, 3, 2, 2, 3, 4, 5)

In [10]:
mi_tupla.count(2) #Cuenta el valor

3

In [11]:
mi_tupla.index(4) #Muestra el indice del valor

6

In [13]:
tupla1 = (1,2,3)
a,b,c = tupla1

#combinada = tupla1 + tupla2
#rint(combinada)

In [14]:
milista1 = (1,2,3)
a,b,c = milista1

In [19]:
#Ejemplo de tuplas
nombre = ("Martina", "Castro")
nacimiento = (1997 , 5 , 19)
Datos = (nombre, nacimiento)
Datos

(('Martina', 'Castro'), (1997, 5, 19))

In [20]:
#Acceder a los datos de la tupa datos, En este ejemplo eccediendo al apellido según el indice
Datos[0][1]

'Castro'

In [22]:
#Ejemplo
auto = ("Ford", "Fiesta", "Rojo", 2021, 5 , 1.6)
auto

('Ford', 'Fiesta', 'Rojo', 2021, 5, 1.6)

In [26]:
(Marca, Modelo, Color, Modelo_año, Puertas, Motor) = auto
auto

('Ford', 'Fiesta', 'Rojo', 2021, 5, 1.6)

In [27]:
Modelo, Puertas

('Fiesta', 5)

In [38]:
#EJERCICIOS
mi_primera_tupla = (1,2,3)
print(mi_primera_tupla[1])

#************

datos_personales = ("Maria", "Perez", 35, "Ingeniera")
nombre = datos_personales[0]
profesion = datos_personales[3]
print(nombre + " es " + profesion)

#***************** "La ciudad de [nombre de la ciudad] en [país] tiene una población de [población] habitantes"

info_ciudades = (("Buenos Aires", 3000000, "Argentina"), ("Madrid", 3200000, "España"), ("Tokio", 13929286, "Japón"))

nombredelaciudad = info_ciudades[0][0]
pais = info_ciudades[0][2]
poblacion = info_ciudades[0][1]

print("La ciudad de " + nombredelaciudad + " en " + pais + " tiene una población de " + str(poblacion) + " habitantes")
nombredelaciudad = info_ciudades[1][0]
pais = info_ciudades[1][2]
poblacion = info_ciudades[1][1]

print("La ciudad de " + nombredelaciudad + " en " + pais + " tiene una población de " + str(poblacion) + " habitantes")
nombredelaciudad = info_ciudades[2][0]
pais = info_ciudades[2][2]
poblacion = info_ciudades[2][1]
print("La ciudad de " + nombredelaciudad + " en " + pais + " tiene una población de " + str(poblacion) + " habitantes")

#print("La ciudad de " + info_ciudades[0][0] + "en " + info_ciudades[0][2] + "tiene una población de " + str(info_ciudades[0][1])

2
Maria es Ingeniera
La ciudad de Buenos Aires en Argentina tiene una población de 3000000 habitantes
La ciudad de Madrid en España tiene una población de 3200000 habitantes
La ciudad de Tokio en Japón tiene una población de 13929286 habitantes

In [39]:
#DICCIONARIOS (CLAVE VALOR) SON COLECCIONES DE ELEMENTOS CONFORMADOS POR CLAVE Y VALOR (los diccionarios no se pueden indexar, porque no están ordenados, solo se busca por su clave)
dic = {}
type(dic)

dict

In [2]:
edades = {'Rolito' : 13 , 'Carlitos' : 22}
edades
len(edades)

2

In [4]:
edades['Rolito'] = 25
edades

{'Rolito': 25, 'Carlitos': 22}

In [5]:
edades['Laura'] = 30 # Se agrega la info al diccionario
edades

{'Rolito': 25, 'Carlitos': 22, 'Laura': 30}

In [8]:
edades.keys() #Muestra las claves del diccionario
edades.values() #Muestra los valores del diccionario
edades.items() #Muestra los items del diccionario

dict_items([('Rolito', 25), ('Carlitos', 22), ('Laura', 30)])

In [10]:
edades.get('Laura') #Muestra el valor de la clave
edades

{'Rolito': 25, 'Carlitos': 22, 'Laura': 30}

In [9]:
mi_diccionario = {"manzana" : "roja", "banana" : "amarilla", "naranja" : "naranja"}
print(mi_diccionario)

{'manzana': 'roja', 'banana': 'amarilla', 'naranja': 'naranja'}

In [12]:
#ejercicio

edades = {"Juan": 28, "Elena": 32, "Marcos": 17}
print(edades["Elena"])

edades["Juan"] = 29
print(edades["Juan"])
edades["Luisa"] = 25
print(edades)

32
29
{'Juan': 29, 'Elena': 32, 'Marcos': 17, 'Luisa': 25}