<a href="https://colab.research.google.com/github/yaleni/Python_2025/blob/main/Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#LISTAS EN PYTHON
frutas =["manzana","banana","cereza"]
print(frutas)

['manzana', 'banana', 'cereza']

In [5]:
type(frutas)

list

In [7]:
numeros =[1,2,3,4,5,6,7,8,9,10]
type(numeros)
#print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
mylista = ["a",1,1.1,True,[1,2,3], ["Andrea", "Sandro", "Alex"]]
type(mylista)
print(mylista)

['a', 1, 1.1, True, [1, 2, 3], ['Andrea', 'Sandro', 'Alex']]

In [14]:
mylista[5][1]

'Sandro'

In [15]:
#REASIGNANDO UN VALOR
frutas[0] = "sandía"
print(frutas)

['sandía', 'banana', 'cereza']

In [19]:
#AGREGANDO UN ELEMNTO A LA LISTA
frutas.append("uva")
print(frutas)

['sandía', 'banana', 'cereza', 'uva']

In [20]:
#UTILIZANDO EL MEODO SORT PARA ORDENAR
frutas.sort()
print(frutas)

['banana', 'cereza', 'sandía', 'uva']

In [21]:
#SORT(REVERSE)
frutas.sort(reverse=True)
print(frutas)

['uva', 'sandía', 'cereza', 'banana']

In [22]:
#REMOVER DATOS DE LA LISTA
frutas.remove("cereza")
print(frutas)

#dir(frutas)

['uva', 'sandía', 'banana']

In [31]:
#Concatenar listas
lista1 = [1,2,3]
lista2 = [4,5,6]
lista3 = lista1 + lista2
print(lista3)

[1, 2, 3, 4, 5, 6]

In [33]:
repetida = lista1 * 3
print(repetida)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [34]:
#SEGMENTACION DE LISTAS
sublista = lista3[2:5]
print(sublista)

[3, 4, 5]

In [35]:
#Ejercicio
ciudades = ["New York", "Paris", "Tokyo", "London", "Sydney"]
print(ciudades[0])
print(ciudades[4])

New York
Sydney

In [43]:
numeros = [1, 2, 3, 4, 5]
numeros.append(6)
print(numeros)
numeros.remove(1)
print(numeros)
numeros.insert(0, 7)
print(numeros)
numeros.sort()
print(numeros)

[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[7, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6, 7]

In [44]:
numeros = [1, 2, 3, 4, 5]
print(numeros)

numeros.append(6)
print(numeros)

numeros.pop(0)
print(numeros)

numeros.insert(1, 7)
print(numeros)

numeros.sort()
print(numeros)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[2, 7, 3, 4, 5, 6]
[2, 3, 4, 5, 6, 7]

In [46]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
combinada = lista1 + lista2
print(combinada)
repetida = lista1 * 3
print(repetida)
sublista = combinada[1:4]
print(sublista)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[2, 3, 4]

In [48]:
#TUPLAS COLECCION DE ELEMENOTOS ORDENADOS, PERO NO PUEDEN CAMBIAR SUS ELEMENTOS Y SU TAMAÑO(INMUTABLES)

T= 1,2,3
type(T)

tuple